body {
  font-family: "Computer Modern Serif", serif;
  padding: 30px;
}

#page-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#me {
  text-align: center;
  font-size: 70px;
}

#tagline {
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

#skills pre {
  content: 'center';
}
#skills {
  font-size: 1.3em;
  text-align: center;
  font-style: normal;
  padding: 20px;
}

#coursework {

}

#coursework li {
  list-style: none;
}

#experience {
  margin-top: 80px;
}

#experience h1 {
  text-align: center;
  font-style: normal;
}


#navbar-bottom {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: black;
}

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: .3em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

#a {
  font-size: .84em;
}

.project .date {
  float: left;
}
.project .name {
  float: right;
}